/Arquitecturas/Arquitectura -n capas/Arquitectura.AccesoADatos/nbproject/private/
/Arquitecturas/Arquitectura -n capas/Arquitectura.EntidadesDeNegocios/nbproject/private/
/Arquitecturas/Arquitectura -n capas/Arquitectura.AppWeb/nbproject/private/
/Arquitecturas/Arquitectura -n capas/Arquitectura.AppDesktop/nbproject/private/
